# Tuple

In [1]:
tup = ()
print(tup, type(tup))

() <class 'tuple'>

In [2]:
tup = (7)
print(tup, type(tup))

7 <class 'int'>

In [3]:
tup = (7,)
print(tup, type(tup))

(7,) <class 'tuple'>

In [4]:
tup = (1, 2, 7, "S7", "L0ve")
print(tup)

(1, 2, 7, 'S7', 'L0ve')

In [5]:
tup = 1, 2, 7, "S7", "L0ve"
print(tup)

(1, 2, 7, 'S7', 'L0ve')

Indexing in Tuple

In [6]:
tup[0]

1

In [7]:
A = ("you", "me", "they", "WE")
A[1]

'me'

In [8]:
A[-1]

'WE'

In [9]:
type(A[-1])

str

Slicing in Tuple

In [10]:
A[0:3]

('you', 'me', 'they')

In [11]:
A

('you', 'me', 'they', 'WE')

A[Start:End:Step]

In [12]:
A[::-1]

('WE', 'they', 'me', 'you')

In [13]:
A

('you', 'me', 'they', 'WE')

In [14]:
A[2:4]

('they', 'WE')

In [15]:
A[0]

'you'

In [16]:
len(A)

4

Unpacking Tuble

In [17]:
tup = (1,7)
tup

(1, 7)

In [18]:
a, b = tup
print(a)
print(b)

1
7

In [19]:
a, b, c = tup

ValueError: not enough values to unpack (expected 3, got 2)

In [20]:
a, b = (1,2,3,4)

ValueError: too many values to unpack (expected 2)

In [21]:
a, b, *c = (1,2,3,4)

In [22]:
print(a,b,c)

1 2 [3, 4]

In [23]:
A

('you', 'me', 'they', 'WE')

In [24]:
A1 = A[::-1]
A1

('WE', 'they', 'me', 'you')

In [25]:
id(A1)

1765513684056

In [26]:
A2 = A1[:]
print(A2)
id(A2)

('WE', 'they', 'me', 'you')

1765513684056

Tuple Methods

count

In [27]:
dir((1,7))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
tup = (1,2,3,44,7,7,5,5,53,32,1,1)
tup

(1, 2, 3, 44, 7, 7, 5, 5, 53, 32, 1, 1)

In [29]:
tup.count(7)

2

In [32]:
tup.index(7)

4

In [33]:
tup2 = (10,20)
tup + tup2

(1, 2, 3, 44, 7, 7, 5, 5, 53, 32, 1, 1, 10, 20)

In [36]:
tup3 = tup2*2

In [37]:
tup3

(10, 20, 10, 20)

In [38]:
print (tup3[0])
id(tup3[0])

10

140725627364016

In [39]:
print (tup3[2])
id(tup3[2])

10

140725627364016

In [40]:
max(tup)

53

In [41]:
tup

(1, 2, 3, 44, 7, 7, 5, 5, 53, 32, 1, 1)

In [42]:
tup = 1,10,7, "Py"
max(tup)

TypeError: '>' not supported between instances of 'str' and 'int'

In [44]:
"a" >= 1

TypeError: '>=' not supported between instances of 'str' and 'int'

In [45]:
'7' > 10

TypeError: '>' not supported between instances of 'str' and 'int'

In [46]:
lst = [1,2,3]
tup = tuple(lst)
print(tup)

(1, 2, 3)

In [47]:
lst

[1, 2, 3]

In [53]:
a = input ("Enter Items ")
tup = tuple(a.split())
print (tup)

Enter Items you me we
('you', 'me', 'we')

max and min works if all the elements are of same datatype

In [56]:
tup = ("s","ss","SSS","S7")
max(tup)

'ss'

In [57]:
min(tup)

'S7'

# List

In [58]:
list = []
type(list)

list

In [60]:
list = [1,3,4,5,"S", 7,("SBK","7")]
list

[1, 3, 4, 5, 'S', 7, ('SBK', '7')]

List Operations

Accessing list values

In [61]:
list[5]

7

In [63]:
list[-1]

('SBK', '7')

Slicing the List

In [78]:
list[1:4:2]

[2, '3']

In [79]:
list[::-1]

['3', ('Hi', 'Py'), 2, 1]

In [80]:
list = [1,2,("Hi", "Py"),"3"]

In [81]:
list[2]

('Hi', 'Py')

In [82]:
list[2][0]

'Hi'

In [83]:
list[2][0][1]

'i'

Updating the List

In [88]:
list = ["Py", "PRO", "ME"]

In [89]:
list[2]

'ME'

In [90]:
list[2] = "WE"

In [91]:
list

['Py', 'PRO', 'WE']

Deleting values from a List

In [93]:
list

['Py', 'PRO', 'WE']

In [94]:
del list[0]

In [95]:
list

['PRO', 'WE']

In [107]:
l = [1,2,3,4,7]
a = 7
print(l)

[1, 2, 3, 4, 7]

In [108]:
id(a)

140725627363920

In [109]:
id(l[4])

140725627363920

In [110]:
print(a)
l

7

[1, 2, 3, 4, 7]

In [111]:
del l[4]

In [112]:
l

[1, 2, 3, 4]

In [113]:
a

7

In [114]:
id(a)

140725627363920

Add & Mutiply

In [118]:
l1 = [1,7]

In [119]:
id(l1)

1765534040264

In [120]:
l2 = l1[:]
print(l2)

[1, 7]

In [122]:
id(l2)

1765534042184

In [123]:
[1,1] + [7,7]

[1, 1, 7, 7]

In [124]:
[1,7]*7

[1, 7, 1, 7, 1, 7, 1, 7, 1, 7, 1, 7, 1, 7]

List Methods

In [125]:
dir([7])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

append() & extend()

In [126]:
l

[1, 7]

In [127]:
list

['PRO', 'WE']

In [128]:
list.append("ARE")

In [129]:
list

['PRO', 'WE', 'ARE']

In [130]:
list.append(('Im',"7"))

In [131]:
list

['PRO', 'WE', 'ARE', ('Im', '7')]

In [132]:
list.extend("Python")

In [133]:
list

['PRO', 'WE', 'ARE', ('Im', '7'), 'P', 'y', 't', 'h', 'o', 'n']

In [135]:
list.extend(('Im', '7'))

In [136]:
list

['PRO', 'WE', 'ARE', ('Im', '7'), 'P', 'y', 't', 'h', 'o', 'n', 'Im', '7']

In [138]:
l.append(7)

In [139]:
l

[1, 7, 7]

In [140]:
l.extend((1,))

In [141]:
l

[1, 7, 7, 1]

In [142]:
l1

[1, 7]

In [143]:
help(list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

insert

In [146]:
l1.insert(1,"S7")

In [147]:
l1

[1, 'S7', 'S7', 7]

remove

In [148]:
l1.remove("S7")

In [151]:
l1

[1, 'S7', 7]

pop

In [155]:
py = ["Program", "Syntax", "Loops"]
del py[-2]
py

['Program', 'Loops']

In [158]:
py = ["Program", "dynamics"]
py.pop(1)
py

['Program']

reverse

In [173]:
l = [1,2,3,4]

In [174]:
l[::-1]

[4, 3, 2, 1]

In [175]:
l

[1, 2, 3, 4]

In [176]:
l.reverse()

In [177]:
l

[4, 3, 2, 1]

In [178]:
l = [1,2,3,4,5,6,7,8,9]
l1 = []
for each in l:
    if each%2 == 0:
        l1.append(each)
print(l1)

[2, 4, 6, 8]

sort requires same datatypes
sort(key=None,reverse=0)

In [179]:
l = [2,1,4,7,0,22,99,3,6]
l.sort()
l

[0, 1, 2, 3, 4, 6, 7, 22, 99]

In [180]:
l = [2,1,4,7,0,22,99,3,6]
l.sort(reverse=1)
l

[99, 22, 7, 6, 4, 3, 2, 1, 0]

In [181]:
l = [('s',98),('m',99),('d',92),('m',91),('k',98),('d',100)]
l

[('s', 98), ('m', 99), ('d', 92), ('m', 91), ('k', 98), ('d', 100)]

In [182]:
def fun(x):
    print(x)
    return x[1]

l.sort(key=fun)

('s', 98)
('m', 99)
('d', 92)
('m', 91)
('k', 98)
('d', 100)

In [183]:
l

[('m', 91), ('d', 92), ('s', 98), ('k', 98), ('m', 99), ('d', 100)]

In [184]:
def fun(x):
    print(x)
    return x[0]

l.sort(key=fun)

('m', 91)
('d', 92)
('s', 98)
('k', 98)
('m', 99)
('d', 100)

In [185]:
l

[('d', 92), ('d', 100), ('k', 98), ('m', 91), ('m', 99), ('s', 98)]

In [187]:
l = [(10,1),(3,5),(1,9)]
def fun(x):
    return x[0]+ x[1]

l.sort(key=fun)
print(l)

[(3, 5), (1, 9), (10, 1)]

# END OF DAY 5

Assignments of the DAY

Program 1 : [0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4]
    Sort in increasing order but all zeros at right hand side

In [210]:
def move_zero(num_list):
    a = [0 for i in range(num_list.count(0))]
    x = [ i for i in num_list if i != 0]
    x.extend(a)
    return(x)

print(move_zero([0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4]))

#https://www.w3resource.com/python-exercises/challenges/1/python-challenges-1-exercise-27.php

[1, 2, 10, 4, 1, 56, 2, 1, 3, 56, 4, 0, 0, 0, 0, 0]

Program 2 : 
l  =  [10,20,40,60,70,80] sorted  list
l1 =  [5,15,25,35,45,60] sorted list

merge both list to one , make use of only one loop one time 

**sort method not allowed

In [4]:
from heapq import merge 

l = [10,20,40,60,70,80]
l1 = [5,15,25,35,45,60]

print ("The original list 1 is : " + str(l)) 
print ("The original list 2 is : " + str(l1)) 

res = list(merge(l, l1)) 

print ("The combined sorted list is : " + str(res))

#https://www.geeksforgeeks.org/python-combining-two-sorted-lists/

The original list 1 is : [10, 20, 40, 60, 70, 80]
The original list 2 is : [5, 15, 25, 35, 45, 60]
The combined sorted list is : [5, 10, 15, 20, 25, 35, 40, 45, 60, 60, 70, 80]

In [11]:
import numpy as np

def selection_sort(x):
    for i in range(len(x)):
        swap = i + np.argmin(x[i:])
        (x[i], x[swap]) = (x[swap], x[i])
    return x

l = [10,20,40,60,70,80]
l1 = [5,15,25,35,45,60]

res = list(merge(l, l1))
x = np.array(res)

selection_sort(x)

#https://jakevdp.github.io/PythonDataScienceHandbook/02.08-sorting.html

array([ 5, 10, 15, 20, 25, 35, 40, 45, 60, 60, 70, 80])